
tr,td{
border-collapse: collapse;
padding: 2px;
color: #28B463;
 font-size: 20px;
}

.sec{ 
display: inline-block;
color: #85C1E9;
}

table{
width:100%;
background-image: url("../images/k.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 500px;
}

img{
align-items: center;
width:25%; height:350px;
border-radius: 50%;
border:2px solid; border-color: white;

}

.fisrt img{
border:none;
width:30px; 
height:30px; 
align-items: right;
}

a{
text-decoration: none;
color:#28B463;
font-size: 20px;
}
a:hover{
    border-bottom: 2px solid green;
}
.fifth img{
border:none;
width:20px; 
height:20px; 

}
p{
	line-height: 30px;
}

.sec,.fir{
  width: 30px;
  height: 30px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { left:30px; top:0px;}
  50%  { left:30px; top:30px;}
  75%  { left:0px; top:30px;}
  100% { left:0px; top:0px;}
}
.sty{
  width: 200px;
  height: 40px;
  background: #D4F5D6;
  transition: width 2s ease;
}

.sty:hover {
  width: 100%;
}




