
tr,td{
border-collapse: collapse;
padding: 2px;
color: #28B463;
 font-style: Baskerville Old Face;
 font-size: 20px;
}

.sec{ 
display: inline-block;
color: #85C1E9;
}

table{
width:100%;
background-image: url("../images/k.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 500px;
}

img{
align-items: center;
width:30%; height:200px;
border-radius: 50%;
border:2px solid; border-color: white;

}

.fisrt img{
border:none;
width:30px; 
height:30px; 
align-items: right;
}

a{
text-decoration: none;
color:#28B463;
font-size: 20px;
}
.fifth img{
border:none;
width:20px; 
height:20px; 

}
p{
	line-height: 30px;
}
